@import "../src/Style/variables.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  padding-top: 91px; //altezza della navbar
  background-color: black;
}
