@import "../src/Style/variables.scss";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  padding-top: 91px; //altezza della navbar
  background-color: black;
  height: 100vh;
}
.container {
  padding: 0;
  margin: 0;
}
.section-admin {
  display: flex;
  flex-direction: column; /* Imposta un layout a colonna */
  justify-content: flex-start; /* Mantieni gli elementi in alto */
  align-items: flex-start; /* Allinea a sinistra */
  height: auto; /* Imposta l'altezza dinamica */
  border: 1px solid $primary;
  margin: 1em;
  padding: 2em;
}

.form-container {
  margin-top: 20px; /* Spazio tra i bottoni e i form */
  width: 100%; /* Adatta la larghezza al contenitore */
}

.text-gold {
  color: $primary;
}
